# greatmap npm
# 当前 token 为 npm-common 账号 token
# `npm install --save @greatmap/xxx`
@greatmap:registry=http://192.168.1.53:8881/repository/npm-hosted/
//192.168.1.53:8881/repository/npm-hosted/:_authToken=NpmToken.09093aec-4dc1-396b-83f1-b854b3c45e9b
email=npm-common@greatmap.com