@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1562210984690'); /* IE9 */
  src: url('iconfont.eot?t=1562210984690#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABoAAAAKNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEjATYCJAMICwYABCAFhG0HMBvJBRHVk0dkX2LsegAiSNBUMEJsmez9nMePAxR6CyqFVZAAAAAAAMHz336/32dm7mMwTaqJRRSTpJoISTypZRqeid9MsnnAtSmVRpwcESFfjovUL87Z2sprilAncmc/lJwOOMtJXgh/yMX53ibAIdatrgDIISADIw6nTaBA5t+lXa5rT5rUBRgHUkB7Y7SFSyjjhrELXuB5COBBOKlIwb2iAYvBniaADGd9HdiCD4NhSYvgalhrkAUcrJpTA+aj78sX0sSCwtHYmTW9hd3kvHfS9Oj/NgcE/CCgzQ6ggVTAgDQ0xqrQCKNpPGKGaDhWscD7/z8wIEfVIuyvswu9AAiFcYH3e4JH5VYAGOgOSUD+pDeC9vbxGfqv2Dj7wf8eO6Lu33cexL039t22RJ/eHe7e21zIZO/+Xf6dGLwnqJv8ifbwayXgXSC/I/tzqZV1QZ96aZB9udTJWlDeIKT9zDn5+ngcP5U7ZlBAzpa/uqxOEUDgrGDPN2PraQB4ZHkfawzDHGDPYhf4W/yBTcYQ2nplNH5jSpGEvosKDzyA/9gVwPOpquBbSwmW4Bt0uBGWQWOJJRpqKhw8SYcLSzY8SKF4syeBjKAR4w4kMwUg+HEAhQ/n0PhxjWioz+AQwje48BMND5okcE9P4oXKFMKAMYbwC1nU1No1soqLDUyeZUB5YUR3kPosCIvpvJx8YI20xIL+lSyZNWhqKriDy7AsG2ipyTHiacrcHmcz3XSjadRUQoEwYIwh/EIWNbUO2rOqfN7A5FkG1NFQ53WQ+qx3WEznA4gPWT2o4VGu6V/JklmDpqaCOxiFZdlA2zwqx4in6YRIe5w5rfRQ2XR7RfV3OwAPbLUSJ6JpOHsVay0EAAAA') format('woff2'),
  url('iconfont.woff?t=1562210984690') format('woff'),
  url('iconfont.ttf?t=1562210984690') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1562210984690#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liulan:before {
  content: "\e640";
}

